<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thecompilers.crashbaby">
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/catchfruit"
        android:label="@string/app_name"
        android:roundIcon="@drawable/catchfruit"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".broadcastRecieve"/>
        <service android:name=".backgroundmusic"/>
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>